{
  "token": "discord client bot token",
  "dbhost": "postgres host",
  "dbname": "postgres database",
  "dbuser": "postgres user",
  "dbpass": "postgres password",
  "lavahost": "lavalink host",
  "lavaportws": "lavalink port ws",
  "lavapass": "lavalink password",
  "dblkey": "discordbots.org token",
  "weebkey": "weeb.sh token",
  "boorus": {
    "Danbooru":{
      "user": "Danbooru username",
      "key": "Danbooru API key"
    }
  },
  "channels": {
    "Main": Main channel ID for Monika statuses (DO NOT USE quotes),
    "Main-V": "Main voice channel ID for Monika statuses",
    "Report": "Channel ID for Monika to report errors"
  },
  "ids": {
    "Creator": ID of the creator (or anyone you want) (DO NOT USE quotes)
  },
  "pwkey": "bots.discord.pw token",
  "kbkey": "bots.disgd.pw token",
  "sentry_dsn": "sentry.io dsn",
  "datadog_api_key": "datadog api key",
  "datadog_app_key": "datadog app key",
  "perspectivekey": "google perspective api token"
}